body{
    background-color: pink;
}
h1{
    color: navy;
    margin-left: 20px;
}
.Style1 {font-size : 20pt;
    font-family : Verdana;
color : navy;
text-align: center;
}
.Style2 { color: green; }
.voiture3 { color: blue; }
#voiture1 {color: rgb(85.0.128); }