#header{
    background-color: rgb(128, 128, 128 );
    color:white;
    padding: 20px;
    text-align: center;
    margin: auto;
    
}
body{
    background: black url("images/css.png") no-repeat fixed center center;
    /* reapet -y tt3awed verticalement et -x horizontalement */
     color:white;
     margin: 0px 100px;

}
.lien { 
        all:unset;   
        display: inline-block;
        width: 24%;
        background-color: green;
        font-weight: bold;
        color: white;
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;   
        padding: 5px;
        margin: 5px 0px 0px;
        cursor:pointer;
    
    }

.lien:hover{
    background-color: grey;   
    color: white;}
   
   
    table, th, td {
        border: white solid 2px;
        border-collapse: collapse;
        padding : 5px;
    }
ul{
    list-style-image: url("images/puce.gif");

}